/* @offsetSize * 2 means the content won't appear to move at all. Set to a lower value for squishing effects. */
/*////////////////////////////////////////*/
/* Layout */
@import 'https://fonts.googleapis.com/css?family=Oswald';
.panels {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  pointer-events: none;
}
.panels__container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  width: 120%;
  margin: 0 -10%;
  visibility: hidden;
}
.panel {
  display: inline-block;
  height: 100%;
  visibility: visible;
  position: relative;
  overflow: hidden;
  flex: 1;
  cursor: pointer;
  text-decoration: none;
}
/*////////////////////////////////////////*/
/* Image/Text Container */
.panel__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: center center no-repeat;
  background-size: cover;
}
.panel__content:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  transition: opacity 1s cubic-bezier(0.6, 0, 0.2, 1);
}
/*////////////////////////////////////////*/
/* Title */
.panel__title {
  pointer-events: auto;
  color: #FFF;
  position: relative;
  z-index: 1;
  transition: color 1s cubic-bezier(0.6, 0, 0.2, 1);
}
.panel__title:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  border: solid 2px #FFC12D;
  z-index: -1;
  padding: 0.5em 1em;
  margin: -0.5em -1em;
  opacity: 0;
  transform: scale(0.9);
  transition: all 1s cubic-bezier(0.6, 0, 0.2, 1);
  transition-property: opacity, transform;
}
/*////////////////////////////////////////*/
/* Hover States */
.panel {
  transform: translate3d(0, 0, 0);
  transition: transform 1s cubic-bezier(0.6, 0, 0.2, 1);
  /* Inactive panel */
  /* Override styles for an inactive panel AFTER the hovered panel */
  /* Active panel */
}
.panel .panel__content {
  transform: translateX(10%);
  transition: transform 1s cubic-bezier(0.6, 0, 0.2, 1);
}
.panel:last-child .panel__content {
  transform: translateX(-10%);
}
.panels:hover .panel {
  transform: translate3d(-10%, 0, 0);
}
.panels:hover .panel .panel__content {
  transform: translateX(14%);
}
.panels:hover .panel .panel__content:before {
  opacity: 0.7;
}
.panels .panel:hover ~ .panel {
  transform: translate3d(10%, 0, 0);
}
.panels .panel:hover ~ .panel .panel__content {
  transform: translateX(-14%);
}
.panels .panel:hover {
  z-index: 2;
  transform: translate3d(10%, 0, 0);
  pointer-events: auto;
}
.panels .panel:hover:last-child {
  transform: translate3d(-10%, 0, 0);
}
.panels .panel:hover .panel__content {
  transform: translateX(0%);
}
.panels .panel:hover .panel__content:before {
  opacity: 0;
}
.panels .panel:hover .panel__title {
  color: #FFC12D;
}
.panels .panel:hover .panel__title:before {
  opacity: 1;
  transform: scale(1);
}
/*////////////////////////////////////////*/
/* Vertical layout */
.panels--stacked {
  /* Inactive panel */
  /* Override styles for an inactive panel AFTER the hovered panel */
  /* Active panel */
}
.panels--stacked .panels__container {
  width: 100%;
  height: 120%;
  margin: -10% 0;
  flex-direction: column;
}
.panels--stacked .panel {
  height: 50%;
  width: 100%;
  transform: translate3d(0, 0, 0);
}
.panels--stacked .panel .panel__content {
  transform: translate3d(0, 10%, 0);
}
.panels--stacked .panel:last-child .panel__content {
  transform: translate3d(0, -10%, 0);
}
.panels--stacked:hover .panel {
  transform: translate3d(0, -10%, 0);
}
.panels--stacked:hover .panel .panel__content {
  transform: translate3d(0, 14%, 0);
}
.panels--stacked .panel:hover ~ .panel {
  transform: translate3d(0, 10%, 0);
}
.panels--stacked .panel:hover ~ .panel .panel__content {
  transform: translate3d(0, -14%, 0);
}
.panels--stacked .panel:hover {
  transform: translate3d(0, 10%, 0);
}
.panels--stacked .panel:hover:last-child {
  transform: translate3d(0, -10%, 0);
}
.panels--stacked .panel:hover .panel__content {
  transform: translate3d(0, 0, 0);
}
/* Responsive */
@media (max-width: 550px) {
  .panels {
    /* Inactive panel */
    /* Override styles for an inactive panel AFTER the hovered panel */
    /* Active panel */
  }
  .panels .panels__container {
    width: 100%;
    height: 120%;
    margin: -10% 0;
    flex-direction: column;
  }
  .panels .panel {
    height: 50%;
    width: 100%;
    transform: translate3d(0, 0, 0);
  }
  .panels .panel .panel__content {
    transform: translate3d(0, 10%, 0);
  }
  .panels .panel:last-child .panel__content {
    transform: translate3d(0, -10%, 0);
  }
  .panels:hover .panel {
    transform: translate3d(0, -10%, 0);
  }
  .panels:hover .panel .panel__content {
    transform: translate3d(0, 14%, 0);
  }
  .panels .panel:hover ~ .panel {
    transform: translate3d(0, 10%, 0);
  }
  .panels .panel:hover ~ .panel .panel__content {
    transform: translate3d(0, -14%, 0);
  }
  .panels .panel:hover {
    transform: translate3d(0, 10%, 0);
  }
  .panels .panel:hover:last-child {
    transform: translate3d(0, -10%, 0);
  }
  .panels .panel:hover .panel__content {
    transform: translate3d(0, 0, 0);
  }
}
/*////////////////////////////////////////*/
/* Specific Design Setup */
.panel__title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: 0.1em;
}
@media (max-width: 800px) {
  .panel__title {
    font-size: 1.5em;
  }
}
@media (max-width: 600px) {
  .panel__title {
    font-size: 1.25em;
  }
}
html,
body {
  height: 100%;
  padding: 0px;
  border: 0px;
}
